.block {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 1px;
}

.ground {
    background: #181818;
    color: lightgray;
}

.green_head {
    background: lime;
}

.green_body {
    background: green;
}

.green_tail {
    background: green;
}

.yellow_head {
    background: yellow;
}

.yellow_body {
    background: rgb(150, 150, 0);
}

.yellow_tail {
    background: rgb(150, 150, 0);
}

.cube {
    background: rgb(170, 80, 15); /* chocolate; */
    border-radius: 4px;
}

.portal {
    background: magenta;
    border-radius: 2px;
    font-size: 19px;
    font-weight: bold;
}
