/* This file contains things that used in many place */
html, body {
    background: black;
    font-family: consolas, 微軟正黑體;
    user-select: none;
}

#wrapper {
    margin:0 auto;
}

.block {
    width: 20px;
    height: 20px;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background: #444444;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #EEEEEE;
}

.button:hover {
    background: #666666;
    cursor: pointer;
}
/* This file contains things that only appears in main menu */
#main_menu {
    font-size: 0px;
    margin: auto;
    margin-top: 100px;
    width: 280px;
    height: 350px;
    padding: 20px;
    background: #222222;
    border-radius: 10px;
}

.big_block {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.logo_head {
    background: lime;
    margin-right: 10px;
    margin-bottom: 3px;
}

.logo_body {
    background: green;
    margin-right: 3px;
}

#title {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    color: #EEEEEE;
}

#zh_title {
    display: inline-block;
    vertical-align: top;
    color: #EEEEEE;
    font-size: 17px;
    margin-left: 65px;
}

#mode_option {
    margin-top: 20px;
    background: black;
    height: 200px;
}

#mode_name {
    margin-top: 30px;
    height: 27px;
    font-size: 23px;
    color: #EEEEEE;
    text-align: center;
}

.switch_mode {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    text-align: center;
    line-height: 80px;
    width: 20px;
    height: 80px;
    font-size: 30px;
    color: #888888;
}

.switch_mode:hover {
    background: #444444;
    border-radius: 5px;
    cursor: pointer;
}

#mode_description {
    display: inline-block;
    margin-top: 20px;
    width: 240px;
    height: 80px;
    font-size: 20px;
    color: #EEEEEE;
    text-align: center;
    overflow: hidden;
}

#author_name {
    margin-top: 15px;
    font-size: 15px;
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

#author_name > a {
    text-decoration: none;
    color: #EEEEEE;
}
/* This file contains things that only appears in game */
#game_field {
    display: none;
    width: 751px;
    height: 550px;
    background: #111111;
    margin: auto;
    font-size: 0px;
}

#info_field {
    display: inline-block;
    vertical-align: top;
    margin-right: 1px;
    width: 200px;
    height: 550px;
    background:#222222;
}

.snake_info {
    margin: 25px;
    padding: 15px;
    width: 120px;
    height: 70px;
    background: #303030;
    border-radius: 10px;
}

#field {
    display: inline-block;
    width: 550px;
    height: 550px;
    background: #111111;
}

.control {
    color: #666666;
    vertical-align: top;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    margin: 1px;
}

.control_source_AI {
    display:none;
    color: #666666;
    font-size: 23px;
    margin-top: 13px;
    margin-left: 20px;
}

.control_source_none {
    display:none;
    color: #666666;
    font-size: 23px;
    margin-top: 13px;
    margin-left: 8px;
}

#snake_info_panel {
}

.snake_info > .number {
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    margin-left: 25px;
    color: #CCCCCC;
}

#game_mode_block {
    margin: 40px 0px;
}

.game_mode {
    font-size:20px;
    text-align:center;
    color:#CCCCCC;
}
.block {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 20px;
    margin: 1px;
}

.ground {
    background: #181818;
    color: lightgray;
}

.green_head {
    background: lime;
}

.green_body {
    background: green;
}

.green_tail {
    background: green;
}

.yellow_head {
    background: yellow;
}

.yellow_body {
    background: rgb(150, 150, 0);
}

.yellow_tail {
    background: rgb(150, 150, 0);
}

.cube {
    background: rgb(170, 80, 15); /* chocolate; */
    border-radius: 4px;
}

.portal {
    background: magenta;
    border-radius: 2px;
}

.wall {
    background: dimgrey;
}
